/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
app-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(235, 240, 248, 255);
}
